@font-face {
  font-family: 'Arimo-Regular';
  src: url('/public/Arimo-Regular.ttf');
}

body {
  margin: 0;
  font-family: Arimo-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
